@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding-left: 0;
    font-family:'Ubuntu', sans-serif;
}



table{
    border: 1px;
    text-align: center;
    border-radius: 0px;
    background: linear-gradient(145deg, #2e2e2e, #373737);
    box-shadow: 9px 9px 18px #1f1f1f,
                -9px -9px -18px #474747;
}

th{
    border: 1px solid #151314;
    color: #FFFF33;
    text-align: center;
}
th:hover{
    background: #ff0157;
    color: #fff;
    box-shadow: 9px 9px 18px #1f1f1f,
                -9px -9px -18px #474747;
}

td{
    border: 1px solid #151314;
    color: #FFFF33;
    text-align: center;
}
td:hover{
    background: #ff0157;
    color: #fff;
    box-shadow: 9px 9px 18px #1f1f1f,
                -9px -9px -18px #474747;
}

/* table.center{
    margin-left: auto;
    margin-right: auto;
} */

select{
    color: #151314;;
}