@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    font-family:'Ubuntu', sans-serif;
}

body{
    background-image: linear-gradient(to bottom right,#ff0157 , #1f1f1f);
    
}

.collapse{
    display: flex;
    justify-content: space-around !important;
}


.navbar-brand{
    color: #FFFF33;
}

.bannerTitle{
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    justify-content: center;
    color: #FFFF33;
}

.bannerTitle2{
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    justify-content: center;
    color: #1f1f1f;
    
}


table{
    border: 0.19vw;
    text-align: center;
    border-radius: 0px;
    background: linear-gradient(145deg, #2e2e2e, #373737);
    box-shadow: 1.782vw 1.782vw 1.782vw #1f1f1f,
                -1.782vw -1.782vw -3.564vw #474747;
    width: 80vw;
    height: 70vh;
}

th{
    border: 0.019vw solid #151314;
    color: #FFFF33;
    text-align: center;
}
th:hover{
    background: #ff0157;
    color: #fff;
    box-shadow: 1.782vw 1.782vw 1.782vw #1f1f1f,
                -1.782vw -1.782vw -3.564vw #474747;
}

td{
    border: 0.019vw solid #151314;
    color: #FFFF33;
    text-align: center;
}
td:hover{
    background: #ff0157;
    color: #fff;
    box-shadow: 1.782vw 1.782vw 3.564vw #1f1f1f,
                -1.782vw -1.782vw -3.564vw #474747;
}

table.center{
    margin-left: auto ;
    margin-right: auto;
}

select{
    color: #FFFF33;
    background-color: #151314;
    max-width: 150px !important;
    overflow: hidden;
}

option{
    max-width: 120px !important;
    overflow: hidden;
}


.workspace{
    display: flex;
    flex-direction: column;
    padding-left: 2vh;
    padding-right: 2vw;
}

.taskManager{
    padding: 2%;
    display: flex;
    padding-left: 8%;
}

.taskManagerDelete{
    padding-left: 20%;
}

.taskManagerTitle{
    color: #FFFF33;
}

.form-control{
    color: #373737;
    width: 30vw;
    
}

.backToTop{
    display: flex;
    justify-content: center;
}