@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding-left: 0;
    font-family:'Ubuntu', sans-serif;
}

body{
    background-color: #151314;
    
}

.collapse{
    display: flex;
    justify-content: space-around !important;
    padding-right: 6%;
}


.navbar-brand{
    color: #FFFF33;
}

.bannerTitle{
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    justify-content: center;
    color: #FFFF33;
}

.bannerTitle2{
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    justify-content: center;
    color: #FFFF33;
    
}

table{
    border: 1px;
    text-align: center;
    border-radius: 0px;
    background: linear-gradient(145deg, #2e2e2e, #373737);
    box-shadow: 9px 9px 18px #1f1f1f,
                -9px -9px -18px #474747;
    width: 80vw;
    height: 70vh;
}

th{
    border: 1px solid #151314;
    color: #FFFF33;
    text-align: center;
}
th:hover{
    background: #ff0157;
    color: #fff;
    box-shadow: 9px 9px 18px #1f1f1f,
                -9px -9px -18px #474747;
}

td{
    border: 1px solid #151314;
    color: #FFFF33;
    text-align: center;
}
td:hover{
    background: #ff0157;
    color: #fff;
    box-shadow: 9px 9px 18px #1f1f1f,
                -9px -9px -18px #474747;
}

table.center{
    margin-left: auto ;
    margin-right: auto;
}

select{
    color: #FFFF33;
    background-color: #151314;
}

.textoDigi{
    color: #FFFF33;
}

.textoDigi2{
    color: #ff0157;
}

.workspace{
    display: flex;
    flex-direction: column;
    padding-left: 2vh;
    padding-right: 2vw;
}

.taskManager{
    padding: 2%;
    display: flex;
    padding-left: 8%;
}

.taskManagerDelete{
    padding-left: 20%;
}

.taskManagerTitle{
    color: #FFFF33;
}

.form-control{
    color: #373737;
    width: 30vw;
    
}